 body {
   background-color: #f0f0f0;
   font-family: "Istok Web", Inter, sans;
   font-weight: bold;
   text-align: center;
   font-size: calc(20px + 1vw);
   display: grid;
   padding: 3vh 0 0 0;
}
  
.logo {
  display: grid;
  padding: 10vw;
  place-self: center;
  background-image: radial-gradient(circle closest-side, #fff, #fff, #f0f0f0);
}
    
.logo img {
  display: grid;
  justify-self: center;
  width: 50vw;
  max-width: 30vh;
}

p {
  display: grid;
  justify-self: center;
}

p a {
 color: #7f7f7f;
}

p a:hover {
  color: blue;
  text-decoration: underline;
}
    
.download {
  color: white;
  background: blue;
  border-radius: 100px;
  border: 0;
  text-decoration: none;
  padding: 0.5vw 3vw;
  width: auto;
  opacity: 0.6;
  transition: opacity 0.1s ease;
}
    
.download:hover {
  color: white;
  text-decoration: none;
  top: -2px;
  margin: 2px 0 -2px;
  opacity: 0.8;
}
    
.license {
  opacity: 0.3;
  font-size: 0.5em;
  display: block;
  margin-top: -1em;
}
    
.license:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  body {
     font-size: calc(20px + 3vw);
  }
}
